<h2><%= t('.title') %></h2>

<table>
  <!-- Will call '_line_item.html.erb.html' and iterate through everything within the 'cart' class -->
  <%= render(cart.line_items) %>

  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>

</table>

<!-- Adds checkout button.  Calls the HTTP GET with new_order_path (the path for creating a new order object?) -->
<%= button_to t('.checkout'), new_order_path, method: :get %>

<!-- Adds an empty cart button.  Calls the delete method of cart object and requires user confirmation. -->
<%= button_to t('.empty'), cart, method: :delete, data: { confirm: 'Are you sure?' } %>