<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
</head>
<body class='<%= controller.controller_name %>'>
    <div id="banner">
      <%= image_tag("logo.png") %>
      <%= @page_title || "Pragmatic Bookshelf" %>
    </div>
    <div id="columns">
      <div id="side">

        <!-- Calls a helper method defined in application_helper.rb within the helpers directory. Passes the condition
             @cart.line_items.empty?, which will return 'true' if the cart is empty. As an attribute for the resulting
             <div> html code that is returned, the id is set to 'cart'. The 'do' starts a block, which is also passed
             to the function, although it's not obvious here. -->
        <% if @cart  %>
            <%= hidden_dev_if(@cart.line_items.empty?, id: 'cart') do %>
                <%= render @cart %>
            <% end %>
        <% end %>

        <ul>
          <li><a href="http://localhost:3000/">Home</a></li>
          <li><a href="http://www..../faq">Questions</a></li>
          <li><a href="http://www..../news">News</a></li>
          <li><a href="http://www..../contact">Contact</a></li>
        </ul>

        <% if session[:user_id] %>
          <ul>
            <li><%= link_to 'Orders',   orders_path %></li>
            <li><%= link_to 'Products', products_path %></li>
            <li><%= link_to 'Users',    users_path%></li>
          </ul>
          <%= button_to 'Logout', logout_path, method: :delete %>
        <% end %>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>

</body>
</html>
